[2019-11-20 16:20] psyhtest opened #6 "Tencent:"
A number of minor issues in Tencent's [system JSON](https://github.com/mlperf/inference_results_v0.5/blob/master/closed/Tencent/systems/clx-8255c-4s_pytorch-caffe2.json):
- [L2](https://github.com/mlperf/inference_results_v0.5/blob/master/closed/Tencent/systems/clx-8255c-4s_pytorch-caffe2.json#L2) `sumitter` -> `submitter`
- [L2](https://github.com/mlperf/inference_results_v0.5/blob/master/closed/

[2019-11-25 15:48] psyhtest opened #7 "Customizing NVIDIA instructions for reproducibility"
I'd like to generate and run TensorRT optimized plan files from the NVIDIA v0.5 submission on my (admittedly out-of-date) NVIDIA devices: Quadro M1000M, GeForce GTX1080 and Jetson TX1.

Unfortunately, [following the instructions](https://github.com/mlperf/inference_results_v0.5/tree/master/closed/NVIDIA#generate-tensorrt-optimized-plan-files) fails:
[code]
With a naive intervention:
[code]
I get a

[2019-11-25 15:53] psyhtest commented on #7
/cc @DilipSequeira @nvpohanh

[2019-11-25 18:12] nvpohanh commented on #7
The problem is that MLPerf runs require that you set the a lot of correct parameters first (like batch size, precision, target_qps, samples_per_query, etc.). It is not easy for MLPerf beginners to get VALID results without extensive tuning and understanding of how MLPerf works.

In your case, you can add more system config files into `measurements`, changed the parameters, and append them to `syst

[2019-11-25 18:16] nvpohanh commented on #7
One thing I do agree, though, is that we can provide more instructions about how to reproduce Alibaba and Dell's results.

[2019-11-26 10:11] psyhtest commented on #7
Thanks @nvpohanh. I agree that getting valid MLPerf results is not straightforward, and that your harness aims to address this for your submissions and those of your clients.

However, it seems to conflate two things: 1) generating optimized TensorRT plans which requires setting up parameters like the batch size and precision; 2) running the optimized plans which requires setting up LoadGen parame

[2019-11-26 18:21] nvpohanh commented on #7
@psyhtest I realized that we did provide a [performance_tuning_guide.adoc](https://github.com/mlperf/inference_results_v0.5/blob/master/closed/NVIDIA/performance_tuning_guide.adoc) to tell the users how to tune the MLPerf parameters to get VALID results. The remaining missing part is how to add new systems into system_list.py. do you agree?

Also, the MobileNet manipulations shouldn't depend on wh

[2019-11-27 13:17] psyhtest opened #8 "Habana: 40 CPUs in open submissions"
Habana's open submissions claim to have 40 CPUs: [low latency](https://github.com/mlperf/inference_results_v0.5/blob/master/open/Habana/systems/Goya_fast_latency.json), [medium latency](https://github.com/mlperf/inference_results_v0.5/blob/b2e18edae3dcdf18c95af99837fb97ad9f1a6c0b/open/Habana/systems/Goya_med_latency.json#L12). Habana's closed submissions seem to refer to the same dual-socket syste

[2019-11-27 13:20] psyhtest commented on #7
Precisely my point! I assume the same is true for the other models? Which is why it is awkward that a full config should be provided just to get the result of the conversion.

However, if you can provide a simple template that would make your harness accept e.g. Jetson TX1, that would be great.

[2019-11-27 18:38] nvpohanh commented on #7
Since I think you focus on making it run rather than high perf numbers, I would suggest the following:

### desktop GPUs (Quadro M1000M or GeForce GTX1080)

1. Append `("<system_id_1>", "M1000", 1), ("<system_id_2>", "1080", 1)` to [system_list.py](https://github.com/mlperf/inference_results_v0.5/blob/master/closed/NVIDIA/code/common/system_list.py)
2. Copy configs file from one of the folders in

[2019-11-27 19:15] nvpohanh commented on #7
Actually, there might be a way simpler approach: try passing `--configs=<config_1.json>,<config_2.json>,<config_3.json>` into RUN_ARGS to specify the configs so that our code does not complain that it cannot find the configs

[2019-11-27 22:16] psyhtest commented on #7
Thanks @nvpohanh, I'll give it a go! Just a correction. I think I still need to use quantization on all these GPUs. Any advice on how to set the config then?

[2019-11-27 22:32] nvpohanh commented on #7
Then you can try with original configs. Not sure if INT8 works on M1000 or not, though.

[2019-11-28 09:55] psyhtest opened #9 "Google: 112 core Intel Skylake processor?"
["Intel Skylake"](https://github.com/mlperf/inference_results_v0.5/blob/master/closed/Google/systems/tpu-rdi-v3.8x1.json#L8) is insufficient host processor specification per se, but I doubt it has [112](https://github.com/mlperf/inference_results_v0.5/blob/master/closed/Google/systems/tpu-rdi-v3.8x1.json#L9) cores even counting hyperthreading. [It appears](https://en.wikipedia.org/wiki/Skylake_(mi

[2019-12-02 21:06] vilmara commented on #7
Hi @nvpohanh, thanks for the explanation, I have followed the steps above to append successfully my system with 1x Tesla T4. However, I am getting the below error with the command `make generate_engines` with Docker version 19.03:

Tracelog:
[code]

[2019-12-02 21:38] nvpohanh commented on #7
I started seeing this error yesterday. Will investigate and it and give you updates.

[2019-12-03 18:47] nvpohanh commented on #7
@vilmara This error seems to be gone today. Could you rebuild the docker image (especially, re-pull `nvcr.io/nvidia/tensorrt:19.09-py3`) and see if you still run into this issue? thanks

[2019-12-04 19:32] nvpohanh commented on #7
Okay, root-caused the issue. The newly published libcublas-dev is built for cuda-10.2, so it breaks TRT.
Solution: Remove `libcublas-dev` from [docker/Dockerfile](https://github.com/mlperf/inference_results_v0.5/blob/master/closed/NVIDIA/docker/Dockerfile#L39) and it should work

[2019-12-06 21:13] vilmara commented on #7
Hi @nvpohanh, it is working now, thank you!

[2019-12-17 16:38] psyhtest opened #11 "DellEMC: No script is provided to run ssd-small"
The [README](https://github.com/mlperf/inference_results_v0.5/blob/master/closed/DellEMC/code/ssd-small/openvino-linux/README.md) for SSD-Small using OpenVINO in the DellEMC submission, says:

[This folder](https://github.com/mlperf/inference_results_v0.5/tree/master/closed/DellEMC/code/ssd-small/openvino-linux/scripts), however, contains two files:

- [0_Warning.txt](https://github.com/mlperf/inf

[2019-12-17 16:53] psyhtest commented on #11
If I were to guess, this `scripts/` folder should have been populated similarly to that in the [corresponding Intel submission](https://github.com/mlperf/inference_results_v0.5/tree/master/closed/Intel/code/ssd-small/openvino-linux/scripts):
[code]

[2019-12-17 16:54] psyhtest commented on #11
Guessing further, SSD-Small in the Offline scenario and Performance mode would use [offline_ssdm.sh](https://github.com/mlperf/inference_results_v0.5/blob/master/closed/Intel/code/ssd-small/openvino-linux/scripts/singlestream_ssdm.sh):
[code]

[2019-12-17 17:14] psyhtest commented on #11
To investigate a bit further, I've also decided to take a look at the [`measurements/`](https://github.com/mlperf/inference_results_v0.5/tree/master/closed/DellEMC/measurements) directory for the SSD-Small benchmark. To my surprise, it only contains [one Intel entry](https://github.com/mlperf/inference_results_v0.5/blob/master/closed/DellEMC/measurements/6248-sku_openvino-linux/ssd-small/Offline/)

[2019-12-17 17:22] psyhtest commented on #11
Neither the [`user.conf`](https://github.com/mlperf/inference_results_v0.5/blob/master/closed/DellEMC/measurements/6248-sku_openvino-linux/ssd-small/Offline/user.conf) under [`measurements/`](https://github.com/mlperf/inference_results_v0.5/tree/master/closed/DellEMC/measurements):
[code]
nor the [`ssdmobilenet_user.conf`](https://github.com/mlperf/inference_results_v0.5/blob/master/closed/DellEMC

[2019-12-17 17:32] psyhtest commented on #11
It's also peculiar that while the Offline score is better for [`Intel(R) Xeon(R) Platinum 8276 CPU @ 2.20GHz`](https://ark.intel.com/content/www/us/en/ark/products/192470/intel-xeon-platinum-8276-processor-38-5m-cache-2-20-ghz.html) (RCP: $8719) than for [`Intel(R) Xeon(R) Gold 6248 CPU @ 2.50GHz`](https://ark.intel.com/content/www/us/en/ark/products/192446/intel-xeon-gold-6248-processor-27-5m-cac

[2019-12-17 17:36] psyhtest commented on #11
(Aside: It's a pity that no pricing is suggested for [`Intel(R) Xeon(R) Platinum 9282 CPU @ 2.60GHz`](https://ark.intel.com/content/www/us/en/ark/products/194146/intel-xeon-platinum-9282-processor-77m-cache-2-60-ghz.html).)

[2019-12-17 17:44] psyhtest commented on #11
(Aside again: But for the best CPU for which pricing is available, [Intel® Xeon® Platinum 8280L Processor @ 2.70GHz](https://ark.intel.com/content/www/us/en/ark/products/192472/intel-xeon-platinum-8280l-processor-38-5m-cache-2-70-ghz.html), RCP is $17906.)

[2019-12-18 10:09] psyhtest commented on #11
(Yet another aside: In the preview category, Tencent used four `Intel(R) Xeon(R) Platinum 8255C CPU @ 2.50GHz` absent from the Intel site. The closest match I can find - [24 cores per CPU](https://github.com/mlperf/inference_results_v0.5/blob/master/closed/Tencent/systems/clx-8255c-4s_pytorch-caffe2.json) - is [`Intel® Xeon® Platinum 8260 Processor @ 2.40 GHz`](https://ark.intel.com/content/www/us

[2019-12-18 21:59] christ1ne commented on #11
Please ignore all comments regarding '8280', that was a mistake in the comment.
The actual CPU SKUs are reported correctly in the inference result table.

The Tencent SKU is a custom SKU so it is not reported on the Intel website.

[2019-12-19 06:12] GaryYuyjl opened #12 "Source code about the model and performance"
For the [model](https://github.com/mlperf/inference_results_v0.5/tree/master/open/NVIDIA#2-model-description) and[ fine tuning](https://github.com/mlperf/inference_results_v0.5/tree/master/open/NVIDIA#3-how-the-model-was-fine-tuned) parts, I can't find the source code. I only could use a .a library to reproduce the result. Could you please provide the code?

Besides, I reproduced most of the part

[2019-12-19 06:26] GaryYuyjl commented on #12
CUDA Version: 10.1
Linux version 4.15.0-1056-aws
Ubuntu 18.04.3 LTS

[2019-12-19 13:58] psyhtest commented on #12
@GaryYuyjl I assume you are talking about NVIDIA's open submission with low-precision ResNet50? What's your TensorRT version?

/cc @DilipSequeira @nvpohanh

[2019-12-19 14:49] psyhtest commented on #11
Thanks @christ1ne. I had to look up [SKU](https://en.wikipedia.org/wiki/Stock_keeping_unit) in Wikipedia (and donate £5 for its upkeep!)

The comment is wrong, but so is `*.Offline.target_qps = 4800` for Dell EMC's CPUs?

[2019-12-19 17:27] nvpohanh commented on #12
Our open submission does not use TRT.

@GaryYuyjl Could you try reproducing our closed division ResNet50 number (for INT8)? This will help us to identify the issue.

[2019-12-19 19:40] christ1ne commented on #11
My understanding is that you just need to set a number which is a reasonable for your HW. The final reported performance numbers will be from the logs.

[2019-12-24 02:22] wilson850920 opened #13 "can't find libmkl_tiny_omp.so file"
I followed the steps and got everything on track, however, when I came to the last step "make", it gave me an error

ubuntu@ep100:~/inference_results_v0.5/closed/DellEMC/code/ssd-small/openvino-linux/build$ make
make[2]: *** No rule to make target '/home/ubuntu/dldt/inference-engine/temp/mkltiny_lnx_20190620/lib/libmkl_tiny_omp.so', needed by 'ov_mlperf'.  Stop.
CMakeFiles/Makefile2:67: recipe for

[2019-12-25 13:18] GaryYuyjl commented on #12
I've encountered another a problem:

[2019-12-25 13:09:21,358 __init__.py:119 WARNING] Cannot find valid configs for 1x Tesla T4. Using 8x Tesla T4 configs instead.
[2019-12-25 13:09:21,358 main.py:291 INFO] Using config files: measurements/T4x8/mobilenet/Offline/config.json,measurements/T4x8/resnet/Offline/config.json,measurements/T4x8/ssd-small/Offline/config.json,measurements/T4x8/ssd-large/Off

[2019-12-26 05:36] nvpohanh commented on #12
Please find the solution here: https://github.com/mlperf/inference_results_v0.5/issues/7#issuecomment-561804070

This is caused by the CUDA-10.2 release, which TRT6 does not support.

[2019-12-26 06:08] #13 closed

[2019-12-31 05:07] GaryYuyjl commented on #12
Still the same problem. CUDA version is 10.1.
I also tried https://github.com/mlperf/inference_results_v0.5/issues/7#issuecomment-559206390 ,but it didn't work.

[2019-12-31 07:23] nvpohanh commented on #12
@GaryYuyjl Could you make sure you re-build the docker image after making that change?

To verify if the change takes effect, please run `ls /usr/lib/x86_64-linux-gnu/libcublas*` in container to check cuBLAS version. The correct one should be `libcublas.so.10.2.1.243`, whereas the original codes will install `libcublas.so.10.2.2.88`, which is too new for TRT6.

[2020-01-01 06:03] GaryYuyjl commented on #12
Thank you. I forgot to run `make build_docker`.
But I found another problem after I reran it:
[code]

[2020-01-01 07:12] nvpohanh commented on #12
@GaryYuyjl Please make sure that you have [https://github.com/NVIDIA/nvidia-docker](nvidia-docker) properly installed. Please run with `docker run --gpus=all ...` (or `nvidia-docker run ...` if you installed nvidia-docker2 package) so that the docker container can "see" the GPUs.

[2020-01-04 15:10] GaryYuyjl commented on #12
Thank you. Here is the results:
Resnet Offline:
"Accuracy = 76.034, Threshold = 75.695. Accuracy test PASSED."
"Samples per second: 4247.88 and Result is : VALID"

Server:
"Accuracy = 76.034, Threshold = 75.695. Accuracy test PASSED."
"Scheduled samples per second : 41546.64 and Result is : INVALID"

[2020-01-06 05:34] nvpohanh commented on #12
@GaryYuyjl It does seem that your T4 runs more slowly. ResNet Offline should give ~5.5k infer/s.

Could you run `nvidia-smi dmon -s pc` in parallel to track the temperature and the clock frequencies? If you see the temperature goes up above, say, 70C, then there might be some issue with the cooling. T4 has passive cooling, so it is sensitive to cooling efficiency.

[2020-01-07 00:58] GaryYuyjl commented on #12
I think that's the problem. The highest temperature rises to about 80C and the pclk drops down to about 720MHZ.

[2020-01-13 21:31] Laurawly commented on #12
@nvpohanh  Just curious what kind of cooling method do you use for T4.

[2020-01-14 17:10] nvpohanh commented on #12
I think we were just doing the same air-cooling as normal server rooms.

[2020-01-27 09:36] Mamtesh11 opened #15 "NVIDIA: Can I use Xavier MLPerf Inference code base for MLPerf Infernce becnh martking on Jetson TX2 and Nano."
I tried MLPerf Inference code base by NVIDIA for Xavier (Close Div) and It gives same result as Published. I want to use this code on TX2 and Nano. However I tried it with  --no_gpu flag but didn't work out. So, can submitter from NVIDIA help to do MLPerf benchmarking on TX2 and Nano with published code base.

[2020-01-27 10:41] psyhtest commented on #15
@Mamtesh11 That's an excellent question, I [was wondering](https://github.com/mlperf/inference_results_v0.5/issues/7) the same. The answer from NVIDIA was [maybe](https://github.com/mlperf/inference_results_v0.5/issues/7#issuecomment-559206390), but some modifications and experimentation are needed. We ([dividiti](http://dividiti.com/)) are looking into this right now.

/cc @nvpohanh

[2020-01-27 12:00] Mamtesh11 commented on #15
@psyhtest Yes, I saw them and tried to reproduce the same, run_harness process got killed in case of mobilenet multistream scenario.

[2020-02-10 09:58] XiaotaoChen opened #16 "make failed to product int4_offline executable"
I am to product `int4_offline`  with instructions as blows:
**build loadgen** it seems successful.
[code]
And then to product `int4_offline`  as belows:
[code]
**the error info**
[code]
it tells `undefined reference to `std::thread::_M_start_thread` , seems like gcc version is mismatch between my host and int4_offline.a used. my version as belows:
[code]

[2020-02-10 12:24] XiaotaoChen commented on #16
it can build successfully when i switch gcc version to 5.5 as belows:
[code]

[2020-02-10 12:25] psyhtest commented on #15
We generated TensorRT plans for the Xavier configuration on a machine with GTX 1080 (compute capability 6.1). Unfortunately, we then failed to deploy it on both TX1 (compute capability 5.3) and TX2 (compute capability 6.2), e.g.:
[code]
@nvpohanh Is there a way to specify a different compute capability for the target?

[2020-02-10 12:39] psyhtest commented on #16
@XiaotaoChen Sorry, I'm not familiar with `int4_offline`. I assume it's a build product from NVIDIA's submission?

/cc @nvpohanh

[2020-02-11 02:05] nvpohanh commented on #15
@psyhtest You have to generate the plans on the same GPU which you plan to run these plans on. Have you tried generating the plans on TX1 and/or TX2?

[2020-02-11 02:07] nvpohanh commented on #16
Hi @XiaotaoChen , we only tested on the gcc version installed in the docker container. As you found out, it does not support older versions of gcc.

[2020-02-11 02:17] XiaotaoChen commented on #16
@nvpohanh  Thanks for your reminding.

[2020-02-11 08:34] XiaotaoChen opened #17 "how to generate accuracy.txt when generated mlperf_log_accuracy.json with int4_offline"
I'm to reproduce [nvidia int4 perf](https://devblogs.nvidia.com/int4-for-ai-inference/)  according [guide docs](https://github.com/mlperf/inference_results_v0.5/tree/master/open/NVIDIA)

**my envs**
[code]
### performance
i produced the `performanceOnly` test as belows:
[code]
and **its' perf seems align with the result as docs tells**
[code]

### accuracy
so i change `test_mode` to `AccuracyOnly`

[2020-02-11 10:10] psyhtest commented on #15
@nvpohanh Yes, but we have maxed out our 128 GB SD card on TX1, which had at least 70 GB of free space when we started :). I've ordered a 400 GB SD card now. And we don't even have external storage on our TX2 module. Is there a way to build only specific things like ResNet?

[2020-02-11 11:55] psyhtest commented on #17
@XiaotaoChen You need to use this [script](https://github.com/mlperf/inference/blob/master/v0.5/classification_and_detection/tools/accuracy-imagenet.py). See [here](https://github.com/mlperf/inference/tree/master/v0.5/classification_and_detection#validate-accuracy-for-resnet50-and-mobilenet-benchmarks) how to run it.

You can obtain the labels file (`val.txt`) with Collective Knowledge as follows:

[2020-02-11 13:59] JustinInAI opened #18 "openvino-windows: Raise error LNK2019: unresolved external symbol"
Clone source code from below link: https://github.com/mlperf/inference_results_v0.5/tree/master/closed/Intel/code/ssd-small/openvino-windows

List LNK2019: unresolved external symbol too much on the Visual Studio 2017.

Did you encounter this symptom? How to solve this issue?

[2020-02-11 14:42] psyhtest commented on #15
Further to previous question, is it still necessary to download COCO and object detection models if all I want is to generate TensorRT plans for ResNet?

[2020-02-11 14:46] psyhtest commented on #18
Hi @JustinInAI, I've just sent an email to Intel colleagues in charge of OpenVINO. Hope they can help you soon.

[2020-02-11 16:34] nvpohanh commented on #15
@psyhtest To build engines for specific benchmark-scenario combination, do `make generate_engines RUN_ARGS="--benchmarks=<BENCHMARK> --scenarios=<SCENARIOS>"`. Also, I don't think generating engines requires "real" dataset. TRT use random data to do auto-tuning, anyway.

[2020-02-11 17:42] nvpohanh commented on #17
@XiaotaoChen If you look at the Makefile, you will find how we did this:
[code]

[2020-02-11 18:14] psyhtest commented on #15
@nvpohanh How about calibration? Don't you need real data for that?

[2020-02-11 18:35] nvpohanh commented on #15
@psyhtest Calibration can be shared across GPUs (in most cases). Could you try that?

Also, what's the point of trying INT8 on TX1 and/or TX2? Would FP32 suffice?

[2020-02-11 19:34] psyhtest commented on #15
@nvpohanh We have suspected the same about sharing: calibration done on GTX 1080 seems to be quite similar to that done on TX1.

On TX1 and TX2, we get around 1.8x speedup with FP16 over FP32. We though we would get extra speedup with INT8. Unfortunately, neither hardware supports INT8, according to this [matrix](https://docs.nvidia.com/deeplearning/sdk/tensorrt-support-matrix/index.html#hardware-

[2020-02-11 19:42] nvpohanh commented on #15
Glad that FP16 works and gives you the speedup!

[2020-02-11 21:38] psyhtest commented on #15
Thanks! But I'm now wondering about @Mamtesh11's original question. Will the way NVIDIA constructed optimized TensorRT plans for Xavier work for the older devices with FP32/FP16 support only? (As I understand, Nano is equivalent to TX1, compute-capability wise.)

[2020-02-11 22:36] JustinInAI commented on #18
Thanks a lot

2020年2月11日(火) 午後10:46 Anton Lokhmotov <notifications@github.com>:

[2020-02-12 00:56] nvpohanh commented on #15
@psyhtest Do you mean generating the TRT plans on Xavier and then run the plans on TX1? I am afraid that it won't work since TRT requires that you generate plans on the same GPU you run on. On the other hand, using TRT to generate plans on TX1 etc. should work.

[2020-02-12 01:20] psyhtest commented on #15
@nvpohanh I get it that I need to generate and run plans on the same platform. But, IIRC, you construct one graph (SSD Large?) layer by layer. Do you specify the main data type there explicitly? Because if you do and that data type is INT8, then that won't work on any pre-Xavier hardware, right?

[2020-02-12 10:32] psyhtest commented on #15
(That's what I meant by "**the way** NVIDIA constructed optimized TensorRT plans for Xavier".)

[2020-02-12 17:23] nvpohanh commented on #15
We put all the configurable settings in the config files, like this one: https://github.com/mlperf/inference_results_v0.5/blob/master/closed/NVIDIA/measurements/Xavier/resnet/Offline/config.json

Under the hood, the script simply parses the config files and set TensorRT settings accordingly. Therefore, to run on older hardware, you just need to the config file has the correct settings, or you can

[2020-02-12 19:22] attafosu commented on #18
Hi @JustinInAI: At what step do you encounter these errors?
Could you post a sample of the LNK2019 error?

[2020-02-12 21:03] psyhtest commented on #15
Thanks @nvpohanh, will do!

[2020-02-13 13:48] JustinInAI commented on #18
Hi attafosu,
I refer https://github.com/mlperf/inference_results_v0.5/tree/master/closed/Intel/code/ssd-small/openvino-windows.

Below is reproduce step:

1. setup environment and download
pip install absl-py
git clone --recurse-submodules https://github.com/mlperf/inference.git mlperf_inference
cd mlperf_inference\loadgen
git checkout 413dbabcb30dc2ee1fe42e7b8090b37e8144617d
git pull origin pull/

[2020-02-13 14:09] psyhtest commented on #18
@JustinInAI Can you copy some of the errors here please? Also, did you really mean to close this ticket?

[2020-02-13 14:14] JustinInAI commented on #18
I click wrong button. Just reopening this issue.

Anton Lokhmotov <notifications@github.com> 於 2020年2月13日 週四 下午2:09寫道：

[2020-02-13 19:05] attafosu commented on #18
@JustinInAI A snapshot/sample of the errors would be useful here.
That said, I was able to reproduce a single LNK error (linking x64 ov_mlperf target to x86 mlperf_loadgen.lib). It appears VS2017 generates for target x86 by default.
So I had to regenerate the loadgen solution with:
`cmake -G "Visual Studio 15 2017 Win64" ..`
`cmake --build . --config Release`
and then rebuild ov_mlperf.

[2020-02-14 11:34] sandip761 opened #19 "make build_docker error"
ERROR: Command errored out with exit status 1:
     command: /usr/bin/python2 -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-6e88JD/filelock/setup.py'"'"'; __file__='"'"'/tmp/pip-install-6e88JD/filelock/setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"

[2020-02-14 14:11] psyhtest commented on #19
@sandip761 Which instructions are you trying to follow?

Can you try:
[code]

[2020-02-18 12:00] ens-lg4 commented on #7
Dear @nvpohanh ,

Thank you for your advice about running the benchmarking suite on GTX-1080 (via docker image) and Jetson-TX1 (installing all the Xavier's dependencies directly on the board and patching Xavier->TX1). I believe I have followed all the instructions that you provided, and we managed to reproduce running the benchmarks for image classification models (both for ResNet50 and MobileNet)

[2020-02-18 16:37] psyhtest commented on #15
Please see @ens-lg4's comment [here](https://github.com/mlperf/inference_results_v0.5/issues/7#issuecomment-587426878).

[2020-02-18 16:48] nvpohanh commented on #7
@ens-lg4 One thing I can think of is the NMS plugin. Could make sure that you build the corresponding SM version for NMS plugin? See: https://github.com/mlperf/inference_results_v0.5/blob/master/closed/NVIDIA/code/plugin/NMSOptPlugin/CMakeLists.txt#L81

[2020-02-18 17:33] ens-lg4 commented on #7
@nvpohanh , thank you so much!

On GTX-1080 I assumed the SM version to be 61, and after adding it to the list and recompiled, I can see two important changes: (1) the benchmark no longer crashes, it runs to the end and produces a credible result in the end. Also, (2) if I look at the output tensor coming off the engine, it is now properly structured - containing 701 floats with 100x7 boxes and a

[2020-02-18 19:58] vilmara commented on #19
hi @sandip761. I had the same issue, can you try to edit your docker file and update the below blocks with the commands `python2 -m pip install setuptools` and `python3 -m pip install setuptools`

[code]

[2020-02-18 21:07] vilmara opened #20 "T4 setting to achieve maximum performance"
hi @nvpohanh, could you please confirm if there are extra settings to those shown below to get maximum performance on T4 GPU with MLPerf inference benchmarks?

- Set Transparent Huge Pages (THP) to always (for Server scenario)
- Turn off the ECC RAM
- Set GPU Max Clock and  Memory Clock rate
- Set Cooling efficiency

[2020-02-22 02:24] sandip761 commented on #19
Thanks for the help issue reol

Thanks for help, Issue resolved.

[2020-02-22 02:24] #19 closed

[2020-02-22 02:59] sandip761 opened #21 "open cv error while preprocessing"
[2020-02-22 02:49:47,693 preprocess_data.py:80 INFO] Processing image No.0/500...
/work/build/data/imagenet/ILSVRC2012_val_00027145.JPEG
Traceback (most recent call last):
  File "scripts/preprocess_data.py", line 322, in <module>
    main()
  File "scripts/preprocess_data.py", line 313, in main
    preprocessor_map[benchmark](data_dir, output_dir, formats, overwrite, cal_only, val_only)
  File "s

[2020-02-22 06:17] XiaotaoChen commented on #17
Thanks for your clear guidance, I'll try. @psyhtest @nvpohanh

[2020-02-26 13:45] psyhtest commented on #21
Hmm, some of the images are monochrome. Could this be an issue?

By the way, any idea why are your line numbers slightly off?
[code]
https://github.com/mlperf/inference_results_v0.5/blob/b2e18edae3dcdf18c95af99837fb97ad9f1a6c0b/closed/NVIDIA/scripts/preprocess_data.py#L108

[2020-03-03 19:22] ens-lg4 commented on #7
Addition: I tried the same protocol on Jetson-TX2 (having added SM version 62), but it crashed with Segmentation Fault in the same way as Jetson-TX1 did.

Can we assume neither TX1 nor TX2 are supported?

[2020-03-04 00:07] ameyk1 commented on #21
Usually this error is if the image did not load properly, check imread function before the line ie. 107
image = cv2.imread(file)
if I print the file name its imagenet val data.
In Section : [Download and Pre-Process data](https://github.com/mlperf/inference_results_v0.5/tree/master/closed/NVIDIA#download-and-preprocess-datasets
) of ReadMe suggests that the ImageNet data has to be downloaded separ

[2020-03-04 00:25] psyhtest commented on #21
Which of course is a problem right now: https://github.com/mlperf/inference/issues/542

[2020-03-04 00:40] psyhtest commented on #7
It's worth adding that the TX1 and TX2 are both flashed with JetPack 4.3 (with TensorRT 6.0).

[2020-03-04 00:42] psyhtest commented on #7
Also, I believe it happens for SSD-MobileNet-1 both with fp32 and fp16. We haven't tried SSD-ResNet yet.

[2020-03-07 22:00] renganxu commented on #7
Hi @nvpohanh, I had error when running the inference on V100-SXM2-16GB. The following is the error. Do you have any idea why this error happened? I added the my config in code/common/system_list.py and corresponding files in measurements/V100-SXM2-16GBx4.

[code]

[2020-03-09 15:39] vilmara commented on #7
Hi @renganxu, I think this error is produced because V100 doesn't support INT8 Tensor Cores, have you tired with FP16 Tensor Cores?. Here is the list of supported precision mode per hardware https://docs.nvidia.com/deeplearning/sdk/tensorrt-support-matrix/index.html#hardware-precision-matrix

[2020-03-09 16:30] nvpohanh commented on #7
@vilmara is correct. Please use FP16 on V100.

[2020-03-10 22:36] ens-lg4 opened #23 "stock NVIDIA benchmarks failing on a Xavier board"
We were trying to reproduce NVIDIA's benchmarks using a Xavier board running JetPack 4.3,
without changing any configuration files.

First there was a minor (but a very annoying) issue when installing the dependencies using `closed/NVIDIA/scripts/install_xavier_dependencies.sh` script.  It ran into a circular dependency of pip packages (matplotlib==3.0.2 somehow picked up numpy==1.18.1 (a part of

[2020-03-10 22:51] nvpohanh commented on #23
Could you try building the engines for each benchmark-scenario combination one by one? Like `make generate_engines RUN_ARGS="--benchmarks=resnet --scenarios=SingleStream --verbose"`?

If you still hit the same error, could you try `rm -rf /tmp/tensorrt-dla-build-* 2>/dev/null || true` and `echo 1 > /proc/sys/vm/drop_caches` before building the engine, just to make sure that we have a clean startin

[2020-03-11 11:19] ens-lg4 commented on #23
Dear @nvpohanh ,

Thank you very much - clearing the caches indeed did the trick for us, so now all the 19 engines get generated.

[2020-03-11 15:34] nvpohanh commented on #23
@ens-lg4 Glad to hear that! would you mind if we close this issue? we can reopen if other issues show up. Thanks!

[2020-03-11 19:20] ens-lg4 commented on #23
Sure, thanks!

[2020-03-11 19:20] #23 closed

[2020-03-12 17:00] dagrayvid commented on #7
@nvpohanh @vilmara Is there documentation on how to use FP16 in these benchmarks? Do we need to edit the preprocessing script?

[2020-03-12 17:06] nvpohanh commented on #7
@dagrayvid You can modify the config.json like this one: https://github.com/mlperf/inference_results_v0.5/blob/master/closed/NVIDIA/measurements/T4x8/resnet/Offline/config.json

For example, change `input_dtype` to fp32, `precision` to fp16, and the "int8_linear" in `tensor_path` to fp32.

[2020-03-18 08:42] sandip761 commented on #21
Thanks for replay

[2020-03-18 08:43] sandip761 commented on #21
Thanks for replay

[2020-03-18 08:44] #21 closed

[2020-03-19 21:55] psyhtest commented on #18
@JustinInAI Did @attafosu's advice solve your problem please?

[2020-03-19 21:58] psyhtest commented on #15
@nvpohanh Given the issues with running object detection models on TX1/TX2 that we reported, I'm wondering the Xavier AGX binaries are going to work on the upcoming Xavier NX? In particular, are you aware of any required changes e.g. to the input layout induced by the DLAs?

[2020-03-20 01:51] JustinInAI commented on #18
Sorry for replying late

It’s solve this problem

But the new problem is revise some code from include</boost/...> to
include”/boost/...”

Have any idea to revise that more efficiency?

2020年3月20日(金) 午前5:55 Anton Lokhmotov <notifications@github.com>:

[2020-04-01 15:52] dagrayvid opened #25 "Compiler errors when building Intel resnet benchmark"
I am attempting to build and run the Intel inference benchmarks which use PyTorch (Caffe2). Following [these instructions](https://github.com/mlperf/inference_results_v0.5/tree/master/closed/Intel/code/resnet/pytorch-caffe2/scripts) leads to the following build error when I run make.

<details><summary>
Click for full compiler logs

[code]

</summary><p>

[code]
</p></details>

It's possible that

[2020-04-03 19:47] dagrayvid commented on #25
I was able to build `inferencer`, by switching to a RHEL UBI7 container, replacing `-lcaffe2` with `-ltorch` in the `Makefile`, since the caffe2 API has moved to `libtorch`, and building OpenCV 3 from source.

However, I am still hoping the creators of this implementation could give more instructions on how to run the benchmark, and where to get the exact model files they used (resnet50/init_net_i

[2020-04-13 08:26] psyhtest opened #26 "Intel: Unsupported primitive of type: PriorBoxClustered"
I've followed instructions for building and running the SSD-MobileNet benchmark, using the OpenVINO [2019_R3.1](https://github.com/opencv/dldt/releases/tag/2019_R3.1) release as the most close to the submission time. However, running it gives me:
[code]

Any ideas @attafosu?

[2020-04-13 09:07] psyhtest commented on #26
Apparently, using the [Windows/GPU](https://github.com/mlperf/inference_results_v0.5/tree/master/closed/Intel/code/ssd-small/openvino-windows/ov_mlperf) version on Linux/CPU was not a great idea. By switching to the [Linux/CPU](https://github.com/mlperf/inference_results_v0.5/tree/master/closed/Intel/code/ssd-small/openvino-linux) version (which is deceptively similar but not quite the same!) I wa

[2020-04-14 17:30] psyhtest commented on #26
I can only reproduce the floating-point exception issue on an Ubuntu 16.04 workstation. The same works fine on an Ubuntu 18.04 laptop, and even in a Ubuntu 16.04 container on the same workstation. Therefore, I'll not open an issue just yet.

[2020-04-14 17:30] #26 closed

[2020-04-14 17:32] psyhtest commented on #18
include”/boost/...”

What do you mean @JustinInAI ? Can you perhaps provide a diff between the original code that fails to compile and the code that works?

[2020-04-14 19:33] psyhtest opened #27 "Intel: SSD-MobileNet accuracy mAP=15.280%"
We've meticulously reconstructed all components of Intel's MLPerf Inference v0.5 submission, including:
- their [Linux/CPU code](https://github.com/mlperf/inference_results_v0.5/tree/master/closed/Intel/code/ssd-small/openvino-linux) without any modifications except for [`CMakeLists.txt`](https://github.com/ctuning/ck-openvino/blob/master/program/mlperf-inference-v0.5/ov_mlperf_cpu/CMakeLists.txt)

[2020-04-15 12:36] psyhtest commented on #27
If I remove the `--reverse_input_channels` flag from the conversion, I get a higher accuracy (20.798%):
[code]

[2020-04-15 17:44] psyhtest commented on #27
Using the [other quantized model](https://zenodo.org/record/3252084/) without `--reverse_input_channels` gives worse accuracy (20.150%):
[code]

[2020-04-15 17:54] psyhtest commented on #27
Using the [other quantized model](https://zenodo.org/record/3252084/) with `--reverse_input_channels` gives even worse accuracy (14.827%):
[code]

[2020-04-15 17:59] psyhtest commented on #27
| Reverse input channels? | Quantized model |  Accuracy (mAP) |
|-|-|-|
| yes | asymmetric | 14.827% |
|  | symmetric | 15.280% |
| no | asymmetric | 20.150% |
| | symmetric | 20.798% |

[2020-04-15 18:03] psyhtest commented on #27
Here's the full conversion log:
[code]

[2020-04-20 10:19] sandip761 opened #28 "make build failed incase of nvidia"

[2020-04-20 16:48] psyhtest opened #29 "Intel: ImageNet accuracy logs cannot be postprocessed with accuracy-imagenet.py"
When reproducing Intel's v0.5 submission, we found that their `mlperf_log_accuracy.json` cannot be processed using the official [`accuracy_imagenet.py`](https://github.com/mlperf/inference/blob/master/v0.5/classification_and_detection/tools/accuracy-imagenet.py) tool (md5 hash: `14ebc71db7376291d2ee62094be3dd3c`):

[code]
The result is the same even if the logs themselves are (almost all) differen

[2020-04-20 22:20] nvpohanh commented on #28
Could you attach a full log for `make build_loadgen VERBOSE=1`? It looks like it's something wrong in ninja. Thanks

[2020-04-21 13:44] psyhtest commented on #29
Same for [Tencent's results](https://github.com/mlperf/inference_results_v0.5/tree/master/closed/Tencent/results):
[code]

[2020-04-21 14:17] psyhtest commented on #29
OK, `--dtype int32` should be used:
[code]
but not `--dtype int64`:
[code]

[2020-04-21 14:22] psyhtest commented on #29
Similarly, `--dtype int32` should be used for the Intel results:
[code]

`--dtype=int64` can only be used for the PyTorch/Caffe2 result:
[code]

[2020-04-21 14:22] #29 closed

[2020-04-21 17:16] psyhtest commented on #27
After my blunder with #29 where I didn't think of running the ImageNet accuracy script with another data type parameter, I decided to check the COCO accuracy script on the data from the v0.5 submission.

I discovered that for the `clx_9282-2s_openvino-linux` system the reported accuracy is mAP=22.627% while the script computes mAP=25.484%:
[code]

Note that the JSON logs for the Server, Offline an

[2020-04-21 17:22] psyhtest commented on #27
For the `ICL-I3-1005G1_OpenVINO-Windows` system, I get the accuracy and the number of lines as expected but also 21248 error lines like: `ERROR: loadgen(800) and payload(2583339204608) disagree on image_idx` for the SingleStream log:
[code]

[2020-04-21 17:33] psyhtest commented on #27
No problems with the [DellEMC's results](https://github.com/mlperf/inference_results_v0.5/tree/master/closed/DellEMC/results) (including OpenVINO and TensorRT):
[code]

[2020-04-22 15:19] psyhtest commented on #27
So the resolution seems to have two aspects to it:
- To use the [`pre-release` branch](https://github.com/openvinotoolkit/openvino/tree/pre-release) of OpenVINO, last committed to on 7 October 2019 just before the v0.5 deadline;
- Not to use the `reverse_input_channels` flag during conversion.

This can be confirmed in a new Docker image version (tagged `mlperf_inference_results_v0.5_issue_27_reso

[2020-04-22 16:11] psyhtest commented on #27
The `2019_R3` release is no good either:
[code]

[2020-04-22 16:13] psyhtest commented on #27
... while the benchmark code doesn't build with `2020.1`:
[code]

[2020-04-23 13:55] sandip761 commented on #28
Building loadgen...
bootstrapping ninja...
/bin/sh: 1: ./src/inline.sh: Permission denied
when running:  "./src/inline.sh" kBrowsePy < ./src/browse.py > build/browse_py.h
Traceback (most recent call last):
  File "configure.py", line 462, in <module>
    variables=[('varname', 'kBrowsePy')])
  File "configure.py", line 164, in build
    self._run_command(self._expand(cmd, local_vars))
  File "conf

[2020-04-23 16:56] alawami commented on #28
I am also having an issue with building the docker container image. When running `make build_docker`.

Below is my output:

[code]

[2020-04-23 22:05] nvpohanh commented on #28
@alawami Your issue might be fixed by this: https://github.com/mlperf/inference_results_v0.5/pull/22/files

[2020-04-28 11:38] psyhtest commented on #27
I'm guessing new include paths need to be set for 2020.1:
[code]
as well as modifying the program:
[code]
but still doesn't build:
[code]

[2020-04-28 11:40] psyhtest commented on #27
Also trouble is expected with 2020.2:
[code]

[2020-04-28 16:26] nvpohanh commented on #20
Yes, please let me know if you still don't get the reported performance numbers.

[2020-04-28 16:26] nvpohanh commented on #16
@XiaotaoChen Does gcc version fix your problem? If so, please close this issue. Thanks

[2020-04-28 16:32] tjablin commented on #9
It should be 2 chips with 56 threads per chip. I don't think there is a better way to describe this processor. Google sometimes buys non-public SKUs from Intel. I don't think we can offer any more details about Intel's chip.

[2020-04-28 21:54] psyhtest commented on #9
Thanks @tjablin. It's fine not to disclose any particular SKU details but I was making the case for being consistent with other submissions e.g.
- [Intel](https://github.com/mlperf/inference_results_v0.5/blob/master/closed/Intel/systems/clx_9282-2s_openvino-linux.json#L8)
[code]
- [Tencent](https://github.com/mlperf/inference_results_v0.5/blob/master/closed/Tencent/systems/clx-8255c-4s_pytorch-caf

[2020-04-30 06:43] andyluo7 opened #30 "make build_docker failed with Error 100"
Step 4/34 : RUN echo "deb http://developer.download.nvidia.com/compute/cuda/repos/ubuntu1604/x86_64/ /" > /etc/apt/sources.list.d/cuda.list  && apt-key adv --fetch-keys http://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64/7fa2af80.pub  && apt-get update  && apt-get install -y --no-install-recommends build-essential autoconf libtool git         curl wget pkg-config sudo ca-cert

[2020-04-30 17:22] nvpohanh commented on #30
[code]
Looks like a temporary issue? Could you try it again?

[2020-04-30 17:26] andyluo7 commented on #30
It is the same -

Step 4/34 : RUN echo "deb http://developer.download.nvidia.com/compute/cuda/repos/ubuntu1604/x86_64/ /" > /etc/apt/sources.list.d/cuda.list  && apt-key adv --fetch-keys http://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64/7fa2af80.pub  && apt-get update  && apt-get install -y --no-install-recommends build-essential autoconf libtool git         curl wget pkg-c

[2020-04-30 18:13] nvpohanh commented on #30
@andyluo7 Could you reset your system clock time?
References:
https://blog.sleeplessbeastie.eu/2019/11/15/how-to-deal-with-repository-is-not-valid-yet-error/
https://askubuntu.com/questions/1059217/getting-release-is-not-valid-yet-while-updating-ubuntu-docker-container

[2020-04-30 18:33] andyluo7 commented on #30
@nvpohanh resetting system clock time works. Thanks.

[2020-04-30 18:33] #30 closed

[2020-04-30 19:32] andyluo7 opened #31 "Docker build error"
Selecting previously unselected package graphsurgeon-tf.
(Reading database ... 21872 files and directories currently installed.)
Preparing to unpack .../graphsurgeon-tf_6.0.1-1+cuda10.1_amd64.deb ...
Unpacking graphsurgeon-tf (6.0.1-1+cuda10.1) ...
Selecting previously unselected package uff-converter-tf.
Preparing to unpack .../uff-converter-tf_6.0.1-1+cuda10.1_amd64.deb ...
Unpacking uff-convert

[2020-04-30 20:04] nvpohanh commented on #31
@andyluo7 Please replace all the `disco` to `eoan`

Original:
[code]
New:
[code]

[2020-04-30 21:23] andyluo7 commented on #31
It works. Thanks!

[2020-04-30 21:23] #31 closed

[2020-05-06 15:23] nileshnegi commented on #7
I am trying to get the NVIDIA implementations of these inference benchmarks running on my 8*V100-SXM2-32GB box. At the moment, I just want to get all benchmarks running.

As suggested earlier, I copied the T4x8 config files and altered them for V100 (input_dtype, precision, path to preprocessed data). With this I am able to run the Offline and SingleStream (wherever supported) scenarios for all 5

[2020-05-06 16:09] nvpohanh commented on #7
@nileshnegi For Server, please set the `server_target_qps` to some very low number (like 1) to see if the program can finish without issue.

For MultiStream, please set `multi_stream_samples_per_query` to low number (like 1?) and set `min_query_count` to 1. By default, MultiStream will run for at least 4 hours.

[2020-05-06 17:41] vilmara commented on #20
Hi @nvpohanh, I am still getting performance issues, please see below:

**on RTX6000:**
Mobilenet | Server Scenario: ~43,594 img/sec ( Nvidia has reported ~47,775-49,775 img/sec on RTX8000)

**on T4:**
Resnet-50- | Server scenario: ~4,782 img/sec (Nvidia has reported ~5,193 img/sec)

[2020-05-06 17:47] nvpohanh commented on #20
It is expected that RTX6000/8000 is slightly slower than TitanRTX. To track down, could you share which clock frequency and power level that the GPU stabilizes at during the inference? You can monitor that by running `nvidia-smi dmon -s pc` concurrently with the harness.

About T4, it would be super helpful to understand the GPU temperature. You can use the same `nvidia-smi dmon -s pc` command to

[2020-05-06 18:03] vilmara commented on #20
@nvpohanh, I will run the tests again, meanwhile could you please provide the reference MLPerf inference performance numbers for RTX6000?

[2020-05-06 18:33] nvpohanh commented on #20
Unfortunately we didn't submit RTX6000 numbers for MLPerf Inference v0.5.

[2020-05-07 15:18] vilmara commented on #20
Hi @nvpohanh,  does Nvidia MLPerf inference scales automatically with RTX8000/6000?. I am running the inference with 3 GPU's; however, seems it is not scaling linearly, see below:

**on 1x_RTX6000:**
Mobilenet | Server Scenario: ~43,594 img/sec

**on 3x_RTX6000:**
Mobilenet | Server Scenario: ~93,724.99 img/sec  (expected: 43,594x3= ~130,781 )

[2020-05-12 19:23] vilmara commented on #20
![Capture_3xRTX6000](https://user-images.githubusercontent.com/30601934/81736397-1e088b80-945c-11ea-8dde-6999a0435d25.PNG)

[2020-05-19 07:19] andyluo7 opened #32 "Fatal error: cuda.h: No such file or directory"
I am building the project with "make build" command.
The following error occurred.
Should I modify the Makefile or any environment parameter?

[ 20%] Building CXX object lwis/CMakeFiles/lwis.dir/src/lwis.cpp.o
In file included from /home/aluo/inference_results_v0.5/closed/NVIDIA/code/harness/lwis/src/lwis.cpp:17:0:
/home/aluo/inference_results_v0.5/closed/NVIDIA/code/harness/lwis/include/lwis.hpp:

[2020-05-19 16:02] nvpohanh commented on #32
@andyluo7 Did you run `make build` inside the container? If so, could you try `nvidia-smi` and ` ls /usr/local/cuda/include | grep cuda.h` to see if nvidia-docker is running correctly? Thanks

[2020-05-19 17:04] andyluo7 commented on #32
@nvpohanh , no, i did not run it in the container. I try to run the inference on AGX Xavier.
Should I run it in container?

[2020-05-19 17:54] nvpohanh commented on #32
Ah, sorry, didn't know that this was on Xavier. No, you don't need docker on Xavier.

Which JetPack did you install? We were using JetPack 4.3 DP.

[2020-05-19 18:39] andyluo7 commented on #32
@nvpohanh, I used the latest Jetpack 4.4 DP. Is there any difference?
There are multiple cuda.h files in the system.
I wonder if I should change the Makefile to add the include path.

[2020-05-19 19:13] nvpohanh commented on #32
Yes, maybe they changed the path. Could you add that to `/usr/local/cuda/include/cuda.h`?

[2020-05-20 00:14] andyluo7 commented on #32
I have to hard coded #include </usr/local/cuda/include/cuda.h> in the .h and .c files in /inference_results_v0.5/closed/NVIDIA/code/harness/lwis to make it work.

[2020-05-20 08:05] andyluo7 opened #33 "calibration failed"
The command I use:
make calibrate RUN_ARGS="--benchmarks=resnet"

The output:

[2020-05-20 01:03:19,521 main.py:291 INFO] Using config files: measurements/Xavier/resnet/SingleStream/config.json,measurements/Xavier/resnet/MultiStream/config.json,measurements/Xavier/resnet/Offline/config.json
[2020-05-20 01:03:19,522 __init__.py:142 INFO] Parsing config file measurements/Xavier/resnet/SingleStream/c

[2020-05-20 16:08] nvpohanh commented on #33
@andyluo7 Our submission codes for v0.5 only support TRT 6. We don't support TRT 7 or above.

[2020-05-20 16:55] andyluo7 commented on #33
@nvpohanh is there anyway to downgrade to TRT6 from TRT7 with cuda 10.2 on Ubuntu 18.04?
Is there any inference_result_v0.5 docker container which can run on Xavier?

[2020-05-20 17:08] nvpohanh commented on #33
@andyluo7 We don't use docker on Xavier. TRT6 should be part of JetPack 4.3 DP. If you need to install TRT6 separately, I will ask internally if that's possible.

[2020-05-20 17:16] andyluo7 commented on #33
@nvpohanh Pls let me know if I can install TRT6 seperately

[2020-05-21 22:10] psyhtest commented on #33
FWIW, once we successfully did the opposite - copied TRT6 libraries from a board with JetPack 4.3 to a board with JetPack 4.2 (with TRT5), and easily switched between the alternative TRT versions with the [Collective Knowledge](http://cknowledge.org) technology.

[2020-05-22 03:23] sandip761 opened #34 "Failed to create Engine for SSD-Mobilenet on DLA core"
python3: ../rtExt/dla/native/dlaExecuteRunner.cpp:123: virtual void nvinfer1::rt::dla::DLANativeRunner::allocateResources(const nvinfer1::rt::CommonContext&): Assertion `context.dlaContext->getDLACore() >= 0 && context.dlaContext->getDLACore() < mCore.numEngines()' failed.
Traceback (most recent call last):
  File "code/main.py", line 328, in <module>
    main()
  File "code/main.py", line 318, in

[2020-05-22 03:42] nvpohanh commented on #34
@sandip761 Could you try the suggested solution here: https://github.com/mlperf/inference_results_v0.5/issues/23#issuecomment-597358583 ? Let me know if that doesn't work. Thanks

[2020-05-25 11:13] sandip761 commented on #34
I am able to create engine dla core , while running for performance i got this errror.

[04/25/2020-16:40:39] [E] [TRT] ../rtExt/dla/native/dlaExecuteRunner.cpp (71) - DLA Error in execute: 7 (Input tensor register failed.)
[04/25/2020-16:40:39] [E] [TRT] FAILED_EXECUTION: std::exception
NVMEDIA_DLA : 1599, ERROR: registerTensorBuffer failed
[04/25/2020-16:40:39] [E] [TRT] ../rtExt/dla/native/dlaE

[2020-05-25 16:20] nvpohanh commented on #34
@sandip761 You built the DLA engine with BS=8 but ran it with BS=4. DLA does not support dynamic batch size.

[2020-05-26 06:29] sandip761 opened #35 "Pytorch issue"
Even if Pytorch installed in xavier, why I am getting this issue:

[2020-05-26 11:56:30,976 main.py:292 INFO] Using config files: measurements/Xavier/ssd-large/SingleStream/config.json
[2020-05-26 11:56:30,977 __init__.py:142 INFO] Parsing config file measurements/Xavier/ssd-large/SingleStream/config.json ...
[2020-05-26 11:56:30,978 main.py:296 INFO] Processing config "Xavier_ssd-large_SingleStre

[2020-05-26 06:30] #34 closed

[2020-05-26 06:43] nvpohanh commented on #35
How did you install pytorch? Did you use this script? https://github.com/mlperf/inference_results_v0.5/blob/master/closed/NVIDIA/scripts/install_xavier_dependencies.sh

Also, what is LD_LIBRARY_PATH in your case?

[2020-05-26 08:28] sandip761 commented on #35
I use the script to install the pytorch. According to bashrc ,export LD_LIBRARY_PATH=/usr/local/cuda-10.0/lib64:$LD_LIBRARY_PATH

[2020-05-26 16:18] nvpohanh commented on #35
For me, the path to libtorch.so is at `/usr/local/lib/python3.6/dist-packages/torch/lib/libtorch.so`.

[2020-05-27 06:47] sandip761 commented on #35
I manually uninstall and install it , now it is working fine. Thanks for your response.

[2020-05-27 17:28] nvpohanh commented on #35
@sandip761 Could you close this issue? Thanks

[2020-06-08 18:53] vilmara commented on #20
Hi @nvpohanh, does the Nvidia MLPerf inference system work with multi-GPU on any system?, or does it work multi-GPU only with the systems used for submission v0.5?

[2020-06-09 02:44] yuyang782472282 opened #36 "mlperf/Training_results_v0.5 can't run successfully unless Intel and AMD vendor id ?"
Hi all
I test mlperf /training_results_v0.6 on my computer,however it will fail unless Intel and AMD cpu vendor id . How to modify the source code of mlperf so that it can run successfully on my computer. fail messages are as follows:
signal:Floating point exception(8)
signal code: Integer divide-by-zero(1)
failing at address:0x7fddf83e993e
[1]/usr/local/mpi/lib/libopen-pal.so.40(+0xac93e)[0x7fddf

[2020-06-09 16:20] psyhtest commented on #36
@yuyang782472282 My suggestion would be to report this elsewhere. This repository is for MLPerf Inference v0.5.

[2020-06-16 16:37] psyhtest commented on #20
I'm running BERT experiments on an AWS [G4](https://aws.amazon.com/ec2/instance-types/g4) `g4dn.4xlarge` instance using a single T4. The supported clocks are a bit lower than in @vilmara's case:
[code]

But at the maximum frequency the GPU is not really stable, dropping down to ~900 MHz in a SingleStream run:
[code]

It's quite stable at ~800 MHz:
[code]
but a bit faster at 900 MHz:
[code]

[2020-06-16 16:52] nvpohanh commented on #20
I have an impression that the T4 on AWS has not-so-good cooling... Could you try `nvidia-smi dmon -s pc` to see what's the GPU temperature? If it reaches >75C, something needs to be improved.

[2020-06-16 16:54] psyhtest commented on #20
@nvpohanh Yes, that's the case. I suspect this VM instance takes a slice of a larger machine. Perhaps the neighbours are maxing out their GPUs :).

[2020-06-19 06:28] sbillus commented on #7
Hi, I am also trying to run the benchmark on Tesla V100. And based on the suggestions above, I have created the configuration file.
But when I am running the test, it is failing after warm up. Looks like it is not able to find a file that is never supposed to be there in ImageNet validation set anyway.
Below is the console output:
`[I] mlperf.conf path: measurements/ml2/resnet/Offline/mlperf.conf

[2020-06-19 06:34] nvpohanh commented on #7
`ILSVRC2012_val_00027229.JPEG` does exist in the validation set: https://github.com/mlperf/inference_results_v0.5/blob/master/closed/NVIDIA/data_maps/imagenet/val_map.txt

Did you follow the preprocessing steps mentioned here?
https://github.com/mlperf/inference_results_v0.5/tree/master/closed/NVIDIA#download-and-preprocess-datasets

[2020-06-19 06:54] sbillus commented on #7
Yes I did. I tried running preprocessing again just to be sure, and this time all the files already existed. I checked my val_map.txt file also and it doesn't contain ILSVRC2012_val_00027229.JPEG too. I have no idea then why it is looking for it.
The engine is generated successfully and the warm up runs fine too. It just fails when not able to find this image.

[2020-06-19 07:11] nvpohanh commented on #7
Ah, you are running on V100! This is not our intended submission platform.

Nevertheless, you can hack the preprocessing script by add `fp32` to the format list here: https://github.com/mlperf/inference_results_v0.5/blob/master/closed/NVIDIA/scripts/preprocess_data.py#L300

[2020-06-19 07:49] sbillus commented on #7
It worked! Thank you for the help!
I thought that fp32 format subdirectory was already existing for ImageNet after preprocessing and the tensor path to it was already defined in the custom config file, that I didn't need to make any more tweaks anywhere else to run the benchmark.
It makes me wonder, if there is a way to add "fp32" to COCO dataset preprocessing as well to benchmark V100 against obj

[2020-07-16 03:16] rakshithvasudev commented on #7
Hello @nvpohanh,

I have a very similar issue as reported above by nileshnegi. It seems to me that `resnet Server` scenario is frozen for some reason. I've modified the config to run on V100 as mentioned above. Also tried setting the server_target_qps=1, still no luck. Any pointers to fix this issue would be appreciated.
[code]

[2020-07-16 11:21] nvpohanh commented on #7
@rakshithvasudev Please also add `--min_query_count=1`. By default, LoadGen runs for at lease 270k queries, so at target_qps=1, that's three days...

[2020-07-16 18:03] rakshithvasudev commented on #7
@nvpohanh  it worked with --min_query_count=1. Thanks!

[2020-08-01 00:47] wangyuyue commented on #25
Hi, dagrayvid. So how did you build the Intel resnet benchmark? I can't find the dataset and model files in the repo, can you give me some advice about where to find it? I really appreciate it if you can share more experience on this benchmark. Thanks!

[2020-08-01 00:49] wangyuyue commented on #25
And some environment variables in these scripts are quite confusing, they use ambiguous relative paths.

[2020-08-23 21:12] alanshao023 opened #37 "make build_docker failed with Error 100"
Step 29/34 : RUN echo 'deb http://archive.ubuntu.com/ubuntu disco main restricted universe multiverse' | tee -a /etc/apt/sources.list.d/disco.list   && echo 'Package: *\nPin: release a=disco\nPin-Priority: -10\n' | tee -a /etc/apt/preferences.d/disco.pref   && apt-get update   && apt-get install --no-install-recommends -t disco -y libjemalloc2 libtcmalloc-minimal4
 ---> Running in 660be38d0a05
deb

[2020-08-24 12:23] nvpohanh commented on #37
Please find the fix here: https://github.com/mlperf/inference_results_v0.5/issues/31#issuecomment-622079116

[2020-08-24 15:49] alanshao023 commented on #37
It works! By the way I'm using CentOS 7.8. Thanks.

[2020-08-24 15:49] #37 closed

[2020-08-24 18:29] alanshao023 opened #38 "calibration error"
The command I input in a container:
make calibrate RUN_ARGS="--benchmarks=resnet"

The output:
Traceback (most recent call last):
  File "code/main.py", line 327, in <module>
    main()
  File "code/main.py", line 286, in main
    config_files = find_config_files(benchmarks, scenarios)
  File "/work/code/common/__init__.py", line 123, in find_config_files
    system = get_system_id()
  File "/work

[2020-08-24 18:35] nvpohanh commented on #38
How did you run the docker container? Did you use `nvidia-docker run ...` or `docker run --gpus=all ...`?

[2020-08-24 18:43] alanshao023 commented on #38
I followed the readme description as below,

docker run -dt -e NVIDIA_VISIBLE_DEVICES=ALL -w /work \
    --security-opt apparmor=unconfined --security-opt seccomp=unconfined \
    -v $HOME:/mnt$HOME \
    --name mlperf-inference-<USERNAME> mlperf-inference:<USERNAME>-latest

[2020-08-24 18:47] nvpohanh commented on #38
Could you try adding `--gpus=all` flag?

[2020-08-24 19:02] alanshao023 commented on #38
Sure. After I did that, in the new container, 1) I ran `nvidia-smi` and the output was correct;  2) I ran ` ls /usr/local/cuda/include | grep cuda.h` and the output is

*cuda.h*.

Do it mean the nvidia docker working correctly?

[2020-08-24 19:04] nvpohanh commented on #38
yes, I think so. Could you try the `make calibrate ... ` command again to see if it works? Thanks

[2020-08-24 20:44] alanshao023 commented on #38
I have repeated the previous steps below in the new container,

1) Build Source Codes (in the docker I generated and the same for below)
2) Download and Preprocess Datasets
3) Download Benchmark Models

It worked. After these, I was able to run calibration, generate TensorRT engines and run the harness.

Thank you, nvpohanh.

[2020-08-24 20:44] #38 closed

[2020-08-28 08:08] jimmy135769 opened #39 "T4 performance is limited"
I use a T4 to test and set Target_qps to 59704 and 7463,  but I get the same Samples per second.

**Target_qps : 59704**
================================================
MLPerf Results Summary
================================================
SUT name : LWIS_Server
Scenario : Offline
Mode     : Performance
Samples per second: 1299.33
Result is : VALID
  Min duration satisfied : Yes
  Min queries sa

[2020-08-28 11:00] nvpohanh commented on #39
Which benchmark is this? Does the T4 have good cooling? You can monitor GPU temperature by `nvidia-smi dmon -s pc`. Thanks

[2020-08-31 01:26] jimmy135769 commented on #39
I use version v0.5 benchmark on SSD-small and the foundation is NVIDIA-Optimized Implementations

GPU temperature maintenance 53°C

# gpu   pwr gtemp mtemp  mclk  pclk
# Idx     W     C     C   MHz   MHz
      0    38    53     -  5000   146
      0    41    53     -  5000   146
      0    40    53     -  5000   146
      0    38    53     -  5000   146
      0    38    53     -  5000   146

[2020-08-31 08:30] jimmy135769 commented on #39
Hi all,
I solved the problem, the problem is Server not match T4 and it limits T4 performance. So I change another Server to use.

thanks all :)

[2020-08-31 12:48] nvpohanh commented on #39
@jimmy135769 Can we close this issue if the problem has been solved? Thanks

[2020-09-01 01:27] #39 closed

[2020-09-03 09:35] sandip761 opened #40 "openmpi issue while running pytorch model."
[2020-09-03 14:34:07,428 main.py:291 INFO] Using config files: measurements/Xavier/ssd-large/SingleStream/config.json
[2020-09-03 14:34:07,429 __init__.py:142 INFO] Parsing config file measurements/Xavier/ssd-large/SingleStream/config.json ...
[2020-09-03 14:34:07,430 main.py:295 INFO] Processing config "Xavier_ssd-large_SingleStream"
[2020-09-03 14:34:07,666 main.py:83 INFO] Building engines for

[2020-09-03 13:24] #40 closed

[2020-09-03 13:25] sandip761 opened #41 "ssd-large benchmark problem"
[2020-09-03 18:47:27,646 main.py:83 INFO] Building engines for ssd-large benchmark in Offline scenario...
[2020-09-03 18:47:27,651 main.py:93 INFO] Building DLA engine for Xavier_ssd-large_Offline
[2020-09-03 18:47:34,010 builder.py:74 INFO] Using DLA: Core 0
/usr/local/lib/python3.6/dist-packages/torch/serialization.py:593: SourceChangeWarning: source code of class 'models.ssd_r34.SSD_R34' has ch

[2020-09-10 17:29] nvpohanh commented on #41
Which hardware and software stacks did you run this on? Also, are you planning to submit this result to v0.7 submission?

[2020-11-03 12:02] #41 closed

[2020-11-03 12:03] #35 closed

[2020-11-03 12:04] sandip761 opened #42 "Build_docker script issue"
ERROR: Command errored out with exit status 1:
     command: /usr/bin/python3 -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-qsr8fg14/markupsafe/setup.py'"'"'; __file__='"'"'/tmp/pip-install-qsr8fg14/markupsafe/setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'

[2020-11-20 17:49] Nitinmlp opened #43 "Cannot build docker for v05/closed/NVIDIA"
Have references to Python2 and python2.7 which runs into multiple issues.

Once I resolve that, I ran into famous issue of cannot find cublas_v2.h file although the file exists in 4 different locations on my system. Even giving absolute path does not work and build_docker is failing.

I modified INCPATH, CUDAPATH etc.. and it did not work. I even gave absolute path of the file in the concerned hea

[2020-11-23 03:31] nvpohanh commented on #43
@Nitinmlp Which docker image did you use? Did you use this Dockerfile? https://github.com/mlperf/inference_results_v0.5/blob/master/closed/NVIDIA/docker/Dockerfile

[2020-11-23 07:48] Nitinmlp commented on #43
yes I am using this Dockerfile.

https://github.com/mlperf/inference_results_v0.5/blob/master/closed/NVIDIA/docker/Dockerfile

Regards
Nitin
________________________________
From: nvpohanh <notifications@github.com>
Sent: Monday, November 23, 2020 9:01 AM
To: mlperf/inference_results_v0.5 <inference_results_v0.5@noreply.github.com>
Cc: Nitinmlp <nitinin@outlook.com>; Mention <mention@noreply.githu

[2020-11-23 08:16] nvpohanh commented on #43
@Nitinmlp Could you comment-out this line: https://github.com/mlperf/inference_results_v0.5/blob/master/closed/NVIDIA/docker/Dockerfile#L223 and try `make build_docker` again?

[2021-05-10 22:09] psyhtest commented on #27
@fenz Only a year has passed since I looked into this, wow. Feels more like forever :).

I would have looked at the [v1.0](https://github.com/mlcommons/inference_results_v1.0/tree/master/closed/Intel/code) or [v0.7](https://github.com/mlcommons/inference_results_v0.7/tree/master/closed/Intel/code) code but alas Intel only submitted SSD-MobileNet to v0.5.

[2021-05-10 22:22] fenz commented on #27
So, as far as I get, the current status is to not use "--reverse_input_channels" option when converting to OpenVINO model representation. By the way, I started looked at this long time ago as well, I'm back on it since (I thought) I could understand it a bit better now. Thanks for your answer.